[user]
	email = aaron@bolddaemon.com
	name = Aaron Bieber
	signingkey = 35863350BFEAC101DB1A4AF01F81112D62A9ADCE

[branch]
	sort = -committerdate

[alias]
	log = log --color=never
	fetch-pr = "!f() { git fetch $1 refs/pull/$2/head:refs/remotes/pr/$2; }; f"

[push]
	default = current
[color]
	branch = false
	diff = true
	interactive = false
	log = false
	status = false
	ui = false
[core]
	deltaBaseCacheLimit = 1G
[http]
	cookiefile = /home/qbit/.gitcookies
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[gpg]
	program = gpg2

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = false
[github]
	user = qbit

#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/

[sendemail]
	smtpserver = mail.messagingengine.com
	smtpuser = qbit@fastmail.com
	smtpAuth = PLAIN
	smtpEncryption = tls
	smtpserverport = 587
	cc = aaron@bolddaemon.com
	confirm = auto

[credential]
	helper = netrc
[pull]
	rebase = false

[include]
	path = ~/work/git/gitconfig

[init]
	defaultBranch = main

[merge]
	tool = ediff
[mergetool "ediff"]
	cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
