[user]
	email = aaron@bolddaemon.com
	name = Aaron Bieber

[alias]
	log = log --color=never

[push]
	default = simple
[color]
	branch = false
	diff = true
	interactive = false
	log = false
	status = false
	ui = false
[core]
	deltaBaseCacheLimit = 1G
[http]
	cookiefile = /home/qbit/.gitcookies
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[gpg]
	program = gpg2

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = false
[github]
	user = qbit

[sendemail]
	smtpserver = mail.messagingengine.com
	smtpuser = qbit@fastmail.com
	smtpAuth = PLAIN
	smtpEncryption = tls
	smtpserverport = 587
	cc = aaron@bolddaemon.com
	confirm = auto

[credential]
	helper = netrc
[pull]
	rebase = false

[include]
	path = ~/work/git/gitconfig

